@font-face {
  font-family: 'rapider-font';
  src: url('../font/rapider-font.eot?72457757');
  src: url('../font/rapider-font.eot?72457757#iefix') format('embedded-opentype'),
       url('../font/rapider-font.woff2?72457757') format('woff2'),
       url('../font/rapider-font.woff?72457757') format('woff'),
       url('../font/rapider-font.ttf?72457757') format('truetype'),
       url('../font/rapider-font.svg?72457757#rapider-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'rapider-font';
    src: url('../font/rapider-font.svg?72457757#rapider-font') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "rapider-font";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-menu-close:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-menu-open:before { content: '\e802'; } /* '' */
.icon-walk:before { content: '\e803'; } /* '' */
.icon-target:before { content: '\e804'; } /* '' */
.icon-bike:before { content: '\e80a'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-car:before { content: '\f1b9'; } /* '' */
.icon-bike1:before { content: '\f206'; } /* '' */
.icon-truck:before { content: '\f207'; } /* '' */
