
.icon-menu-close:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-menu-open:before { content: '\e802'; } /* '' */
.icon-walk:before { content: '\e803'; } /* '' */
.icon-target:before { content: '\e804'; } /* '' */
.icon-bike:before { content: '\e80a'; } /* '' */
.icon-menu-1:before { content: '\f008'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-car:before { content: '\f1b9'; } /* '' */
.icon-bike1:before { content: '\f206'; } /* '' */
.icon-truck:before { content: '\f207'; } /* '' */
