[data-page]{
    position:absolute; /* or absolute if the content exceeds the height of the page */
    width: 100%;
    min-height: 100vh;
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    transition: opacity 0.2s ease-in, opacity 0.1s ease-in;
    z-index: 10;
}

[data-page].active{
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 100;
}

.about {
  text-align: left;
}

.message-header {
  cursor: pointer;
}

#noteForm {
  margin-bottom: 1em;
}

.big-logo img {
  max-width: 50vw;
  display: block;
  margin: auto;
}

.message-header p {
  width: 100%;
  pointer-events: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-body {
  border: 1px solid #333333 !important;
  border-top: none !important;
  /* padding: 0 !important; */
}

.note-div .message-body {
  padding: 0 !important;
}

div.note-text {
  padding: 0.5em !important;
}


.message {
  /* margin-bottom: 1em; */
  background-color: unset;
  margin: 0 0 1em 0 !important;
}

#note-list .column {
  margin-bottom: .10rem !important;
  padding: .10rem !important;
}

textarea {
  margin-bottom: 0.5em;;
}


.navbar .navbar-menu {
  border-bottom: 1px solid #375a7f !important;
  border-radius: 0 !important;
}

.notification {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50vw;
  /* text-align: center; */
  margin: 10px;
  /* background-color: #f0f0f0; */
  /* font-weight: bold; */
}

#new-note-form {
  margin-bottom: 1em;
}


.rs-widget {
  border-radius: unset !important;
  position: unset !important;
  background-color: unset !important;
  max-width: unset !important;
  padding: unset !important;
  margin: unset !important;
  margin-top: 1em !important;
  margin-bottom: 1em !important;
  font-size: unset !important;
  box-shadow: unset !important;
  color: unset !important;
  * {
    font-size: unset !important;
  }
}

.rs-content {
  padding: unset !important;
}

/* .rs-content button { */
/*   border-radius: 0.4em !important; */
/*   padding: unset !important; */
/* } */

.rs-big-headline, .rs-widget-icon {
  display:none !important;
}

.rs-sign-in-form button.rs-connect {
  padding: 0 !important;
}

.buttons:not(:last-child) {
  margin-bottom: 0 !important;
}

.active-link {
    color: #1abc9c !important;
}

img.qr-code {
  max-width: 246px;
}

.regular-text p {
  margin-bottom: 0.2em !important;
}

.edit-form {
  padding: 0.3em;
}

button.new-note {
  margin-right: 0.5em !important;
}

.section {
  padding: 0 !important;
}

/* nav.level { */
/*   margin-bottom: 0.6em !important; */
/* } */

.prefs-radio-buttons > div > div {
  margin-bottom: 0 !important;
  padding-bottom: 0.4em !important;
}

.tags {
  padding: 0.5em;
}

.icon-remove {
  display: none;
  cursor: pointer;
}

.tag:hover .icon-remove {
    display: inline-block;
}

.tags {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

/* input.new-tag { */
/*   margin-left: 0.5em; */
/*   margin-right: 0.5em; */
/* } */

div.new-tag {
  padding: 0.5em;
}

span.new-tag-button {
  cursor: pointer;
}


#panel {
  position: fixed;
  left: 10px;
  top: 10px;
  margin-top: 0px;
  padding: 0px 15px;
  min-height: 0px;
  font-weight: normal;
  box-sizing: border-box;
  display: block;
  margin-bottom: 10px;
  background-color: rgba(190, 200, 210, 0.7);
  /* color: black; */
  max-height: 98%;
  overflow-y: auto;
  padding: 15px;
  max-width: 30%;
  /* background-color: #fff; */
  z-index: 1000;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  #panel {
    top:72.5%;
    left:10px;
    right: 10px;
    max-width: 100%;
    max-height: 25%;
  }

}

#menu-button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 30px;
    background: none;
    border: none;
    z-index: 1000;
}

#menu-panel {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: -40vw;
    width: 40vw;
    height: 100%;
    background-color: rgba(190, 200, 210, 0.7);
    transition: left 0.3s;
    padding: 20px;
}

#menu-panel ul {
    list-style-type: none;
    padding: 0;
}

#menu-panel ul li a {
    text-decoration: none;
    color: #333;
}


#menu-button-close {
    position: absolute;
    top: 50%;
    right: -25px;
    height: 20px;;
    /* padding: 20px 0; */
    /* z-index: 1000; */
    transform: translateY(-50%);
    height: 150px;
}

div.coords-context-menu {
  position: absolute;
  background-color: rgba(190, 200, 210, 0.7);
  padding: 10px;
  z-index: 10000;
}

.ui-menu {
    z-index: 10001 !important;
}

#route-type-button div {
  padding: 0;
}

#route-type-button div button {
  width: 100%;
}
